<h1>Projectgee</h1>

<form method="post" action="/">
  <p>D.O.B:</p>
  <textarea name="user_text"></textarea>
  <br>
  
<form method="post" action="/">
  <p>First name:</p>
  <textarea name="user_text"></textarea>
  <br>
  <input type="submit">
</form>